<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{/css/table_small.css}" href="../../static/css/table_small.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.css}" href="../../static/css/buttons.css">

    <script th:src="@{/js/confirm.js}" src="../../static/js/confirm.js"></script>

    <title>북마크 그룹 관리</title>
</head>
<body>
<h1>북마크 그룹</h1>

<div class="button-container">
    <button class="button"
            onclick="location.href='list.html'"
            th:onclick="|location.href='@{/list}'|"
    >Home
    </button>

    <button class="button"
            onclick="location.href='history.html'"
            th:onclick="|location.href='@{/history}'|"
    >위치 히스토리 목록
    </button>

    <button class="button"
            style="background-color: #f5c2c7"
            onclick="location.href='wifi/load-wifi-waiting.html'"
            th:onclick="|location.href='@{/load/waiting}'|"
    >Open API 와이파이 정보 가져오기
    </button>

    <button class="button"
            onclick="location.href='bookmark/bookmark-list.jsp'"
            th:onclick="|location.href='@{/bookmark}'|"
    >북마크 보기
    </button>

    <button class="button"
            onclick="location.href='bookmark-group/bookmark-group.jsp'"
            th:onclick="|location.href='@{/bookmark-group}'|"
    >북마크 그룹 관리
    </button>
</div>

<div>
    <button class="button"
            onclick="location.href='bookmark-group-add-form.jsp'"
            th:onclick="|location.href='@{/bookmark-group/add}'|"
            style="background-color: lightblue"
    >북마크 그룹 추가
    </button>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>북마크 이름</th>
        <th>순서</th>
        <th>등록일자</th>
        <th>수정일자</th>
        <th colspan="2">비고</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="bmg : ${bookmarkGroupList}">
        <td th:text="${bmg.id}"></td>
        <td th:text="${bmg.name}"></td>
        <td th:text="${bmg.priority}"></td>
        <td th:text="${bmg.createDateTime}"></td>
        <td th:text="${bmg.editDateTime}"></td>

        <td>
            <form th:action="@{/bookmark-group/edit/{id}(id=${bmg.id})}" method="get">
                <button type="submit" class="button" style="background-color: lightblue">
                    수정
                </button>
            </form>
        </td>
        <td>
            <form th:action="@{/bookmark-group/delete/{id}(id=${bmg.id})}"
                  onsubmit="return confirm('삭제하시겠습니까?')" method="post">
                <button type="submit" class="button" style="background-color: #f5c2c7">
                    삭제
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>