<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{/css/detail.css}" href="../../static/css/detail.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.css}" href="../../static/css/buttons.css">

    <script th:src="@{/js/location.js}" src="../../static/js/location.js"></script>
    <script th:src="@{/js/validation.js}" src="../../static/js/validation.js"></script>

    <title>와이파이 상세</title>
</head>
<body>
<h1>와이파이 상세</h1>

<div class="button-container">
    <button class="button"
            onclick="location.href='../list.html'"
            th:onclick="|location.href='@{/list}'|"
    >Home
    </button>

    <button class="button"
            onclick="location.href='../history/history.jsp'"
    >위치 히스토리 목록
    </button>

    <button class="button"
            style="background-color: #f5c2c7"
            onclick="location.href='load-wifi-waiting.html'"
    >Open API 와이파이 정보 가져오기
    </button>

    <button class="button"
            onclick="location.href='../bookmark/bookmark-list.jsp'"
    >북마크 보기
    </button>

    <button class="button"
            onclick="location.href='../bookmark-group/bookmark-group.jsp'"
    >북마크 그룹 관리
    </button>
</div>

<form method="post" onsubmit="return validateSelectBox()"
      th:action action="detail.html">

    <select id="select" name="select">
        <option value="" disabled selected>== 북마크 그룹 선택 ==</option>
        <option th:each="bookmarkGroup : ${bookmarkGroupList}"
                th:value="${bookmarkGroup.name}"
                th:text="${bookmarkGroup.name}">
        </option>
    </select>

    <button type="submit" class="button">북마크에 추가하기</button>
</form>

<table th:object="${wifi}">
    <colgroup>
        <col style="width: 20%"/>
        <col style="width: 80%"/>
    </colgroup>
    <tbody>
    <tr>
        <th>거리(km)</th>
        <td th:text="*{distance}"></td>
    </tr>
    <tr>
        <th>관리번호</th>
        <td th:text="*{manageNumber}"></td>
    </tr>
    <tr>
        <th>자치구</th>
        <td th:text="*{district}"></td>
    </tr>
    <tr>
        <th>와이파이명</th>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <th>도로명주소</th>
        <td th:text="*{addr1}"></td>
    </tr>
    <tr>
        <th>상세주소</th>
        <td th:text="*{addr2}"></td>
    </tr>
    <tr>
        <th>설치위치(층)</th>
        <td th:text="*{installFloor}"></td>
    </tr>
    <tr>
        <th>설치유형</th>
        <td th:text="*{installType}"></td>
    </tr>
    <tr>
        <th>설치기관</th>
        <td th:text="*{installCorp}"></td>
    </tr>
    <tr>
        <th>서비스구분</th>
        <td th:text="*{serviceType}"></td>
    </tr>
    <tr>
        <th>망종류</th>
        <td th:text="*{networkType}"></td>
    </tr>
    <tr>
        <th>설치년도</th>
        <td th:text="*{installYear}"></td>
    </tr>
    <tr>
        <th>실내외구분</th>
        <td th:text="*{inOrOutDoor}"></td>
    </tr>
    <tr>
        <th>WIFI접속환경</th>
        <td th:text="*{wifiAccessEnv}"></td>
    </tr>
    <tr>
        <th>LAT(위도)</th>
        <td th:text="*{lat}"></td>
    </tr>
    <tr>
        <th>LNT(경도)</th>
        <td th:text="*{lnt}"></td>
    </tr>
    <tr>
        <th>작업일자</th>
        <td th:text="*{workDateTime}"></td>
    </tr>

    </tbody>
</table>


</body>
</html>
