<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.css}" href="../../static/css/buttons.css">

    <title>와이파이 정보 불러오기..</title>
</head>
<body>

<div style="display: flex; justify-content: center; align-items: center">
    <h1 th:text="|${amount}개의 WIFI 정보를 정상적으로 저장하였습니다.|">0개의 WIFI 정보를 정상적으로 저장하였습니다.</h1>
</div>
<div style="display: flex; justify-content: center; align-items: center">
    <button class="button"
            onclick="location.href='../list.html'"
            th:onclick="|location.href='@{/list}'|"
    >Home
    </button>
</div>

</body>
</html>
