<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <title> waiting...</title>

</head>
<body>
<div style="display: flex; justify-content: center; align-items: center">
    <h1>WIFI 데이터 불러오는중...</h1>
</div>
<div style="display: flex; justify-content: center; align-items: center">
    <h3>완료되면 자동으로 이동됩니다. 잠시만 기다려주세요.(10초 이내)</h3>
</div>

<script>
    window.location.href = "/load/success"
</script>

</body>
</html>


